<html>
  <head>
    <title>
      SSW2014 - Query API
    </title>
    <link rel="stylesheet" href="{{ asset('bundles/dvssw2014/css/bootstrap.min.css') }}" type="text/css" media="all" />
  </head>
  <body>
    <div>       
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>
